version: '3.8'

services:
  greenstreak:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    container_name: greenstreak
    image: greenstreak
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 128M